{{#> "layouts/main" }}
  <div class="o-vertical-spacing-alt o-vertical-spacing-alt--xxxl">
    {{> partials/header }}

    <main class="o-container-alt o-vertical-spacing-alt o-vertical-spacing-alt--l c-package-content">
      {{{ packageContent }}}
    </main>

    {{> partials/misc }}

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
