{{#> "layouts/main" }}
  <div class="o-spacing-container-xxxl">
    {{> partials/header }}

    <main class="o-container-alt o-spacing-container-m c-package-content">
      {{{ packageContent }}}
    </main>

    {{> partials/misc }}

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
