{{#> "layouts/main" }}
  <div class="u-spacing-container-xxxl">
    {{> partials/header }}

    <main class="o-container c-package-content u-spacing-container-m">
      {{{ packageContent }}}
    </main>

    {{> partials/misc }}

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
