<footer class="c-main-footer">
  <small>a project by <a class="c-anchor" href="https://markus.oberlehner.net/" data-event-category="link" data-event-action="click: website">Markus Oberlehner</a></small>
</footer>
