<header class="c-main-header">
  <div class="o-container-alt c-main-header__inner">
    <a class="c-main-header__logo" href="/">
      <svg width="148" height="42" viewBox="0 0 148 42" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M52.84 15.243h-1.303L46.527 27.5h1.21l4.46-11.136L56.64 27.5h1.21m15.968-12.257h-1.303L67.505 27.5h1.21l4.46-11.136L77.62 27.5h1.21m17.202-12.257h-1.304L89.718 27.5h1.21l4.46-11.136L99.832 27.5h1.213m-38.677 0l-5.012-12.257h1.212l4.46 11.08 4.443-11.08h1.22L63.68 27.5m17.38 0V15.242h1.063v11.3h5.93v.956h-6.99m29.78.002l-7.71-10.53V27.5h-1.046V15.242h1.065l7.673 10.382v-10.38h1.047V27.5h-1.03m3.617-6.12c0-3.767 2.732-6.34 6.202-6.34 1.945 0 3.43.864 4.46 2.17l-.88.568c-.772-1.065-2.112-1.782-3.58-1.782-2.864 0-5.104 2.187-5.104 5.384 0 3.16 2.24 5.384 5.103 5.384 1.467 0 2.807-.717 3.58-1.782l.897.55c-1.1 1.342-2.534 2.187-4.48 2.187-3.47 0-6.206-2.58-6.206-6.34zm21.585 6.12v-5.826h-7.764V27.5h-1.046V15.242h1.046v5.476h7.76V15.24h1.05V27.5m3.05 0V15.242h7.76v.956h-6.717v4.537h6.59v.956h-6.59v4.85h6.718v.96h-7.762M38.1 20.5c-.55-1.46-1.69-2.53-2.886-3.5-2.78-2.26-4.09-3.154-4.142-2.253-.03.55-.15 1-.376 1.253-.285.034-.567.084-.842.15-.37-.137-.834-.484-1.405-1.102-1.81-1.956-5.72-4.513-4.37-2.557 1.354 1.958 1.505 4.51-2.147.6-3.65-3.91-5.22-2.402-3.87-1.35 1.355 1.053 2.56 5.414-.9 1.655-3.46-3.76-4.363-1.957-4.363-1.957 8.415 10.508 8.36 10.49 13.11 15.79.27.35.566.674.89.968 1.248 1.13 2.9 1.816 4.717 1.816 3.884 0 7.03-3.15 7.03-7.032.002-.87-.158-1.707-.45-2.48zM0 0v42h34.632"/><circle cx="12.699" cy="6.641" r=".824"/><circle cx="23.405" cy="6.847" r="2.059"/><circle cx="28.965" cy="10.963" r=".414"/></g></svg>
    </a>
    <nav class="c-main-nav">
      <a class="c-main-nav__link" href="/examples/">Examples</a>
      <span class="c-main-nav__divider"> | </span>
      <a class="c-main-nav__link" href="/packages/">Packages</a>
      <span class="c-main-nav__divider"> | </span>
      <a class="c-main-nav__link" href="/documentation/">Documentation</a>
    </nav>
  </div>
</header>
