@mixin u-hide-visually() {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.u-hide-visually {
   @include u-hide-visually;
}

.u-hide-visually2s {
  @media (max-width: breakpoint('s')) {
    @include u-hide-visually;
  }
}
