.u-width-12\/12 {
  $-base-size: (100% / 12);
  width: ($-base-size * 12) !important;
}

.u-width-4\/12\@m {
  @media (min-width: breakpoint(m)) {
    $-base-size: (100% / 12);
    width: ($-base-size * 4) !important;
  }
}
