$brand-color: setting-color(a);
$brand-color-contrast: setting-color(a, 'contrast');

/**
 * Package settings.
 */
// o-container
$o-container-max-widths: (
  m: 50rem,
);

// o-grid
$o-grid-vertical-gutter: (xxl, xxxl);
