$brand-color: #16193b;
$brand-color-contrast: #fff;

$colors: (
  gray-a: #f8f8f8,
);

@function color($-color) {
  @return map-get($colors, $-color);
}

$breakpoints: (
  s: 30em,
  m: 45em,
  l: 60em,
  xl: 75em,
);

@function breakpoint($-breakpoint) {
  @return map-get($breakpoints, $-breakpoint);
}

$font-sizes: (
  xs: 0.64em,
  s: 0.8em,
  m: 1em,
  l: 1.25em,
  xl: 1.563em,
  xxl: 1.953em,
  xxxl: 2.441em,
);

@function font-size($-size) {
  @return map-get($font-sizes, $-size);
}
