/**
 * Settings
 *
 * - Globally-available settings.
 * - Config switches.
 * - Brand colors, etc.
 */
@import 'settings/**/*';

/**
 * Generic
 *
 * - Ground zero styles.
 * - Low-specificity, far-reaching.
 * - Resets, Normalize.css, etc.
 */
@import 'generic/**/*';

/**
 * Objects
 *
 * - OOCSS.
 * - Design patterns.
 * - No cosmetics.
 * - Agnostically named classes only (e.g. .o-uilist {}).
 */
@import '{ /^\.o-container(.*)/ as .o-container-alt$1 } from ~@avalanche/object-container';
@import '{ /(.*?)\.o-grid(.*?)/ as $1.o-grid-alt$2 } from ~@avalanche/object-grid';
@import 'objects/**/*';

/**
 * Components
 *
 * - Designed pieces of UI.
 * - Still only using classes.
 * - More explicitly named (e.g. .c-products-list {}).
 */
@import 'components/**/*';

/**
 * Utilities
 *
 * - Overrides, helpers, utilities.
 * - Only affect one piece of the DOM at a time.
 * - Usually carry !important.
 */
@import 'utilities/**/*';
