.c-button {
  display: inline-block;
  padding: spacing(xs) spacing(m);
  background: color(b);
  color: color(b, contrast);
  text-decoration: none;
  transition: background 0.2s;

  &:hover,
  &:focus {
    background: lighten(color(b), 5%);
  }
}

.c-button--inverted {
  $-border-width: (spacing(xs) / 2);
  padding: (spacing(xs) - $-border-width) (spacing(m) - $-border-width);
  border: $-border-width solid color(a, contrast);
  background: color(a, contrast);
  color: color(a);
  transition: background 0.2s, color 0.2s;

  &:hover,
  &:focus {
    background: transparent;
    color: color(a, contrast);
  }
}

.c-button--l {
  font-size: font-size(l);
}
