.c-demo__view {
  padding: spacing(l);
  border: (spacing(s) / 2) solid color(a, gray);
  border-bottom: none;
}

.c-demo {
  .o-grid__item > div,
  [class^='u-width-'] {
    padding: spacing(m);
    background: color(b, gray);
    text-align: center;
  }
}
