.c-demo__view {
  padding: setting-spacing(l);
  border: (setting-spacing(s) / 2) solid setting-color(a, gray);
  border-bottom: none;
}

.c-demo {
  .o-grid__item > div,
  [class*='u-width-'],
  [class*='u-offset-'],
  [class*='u-order-'],
  [class*='u-spacing-'] {
    padding: setting-spacing(m);
    background: setting-color(b, gray);
    text-align: center;
  }

  .o-aspect-ratio + .o-aspect-ratio {
    margin-top: setting-spacing(m);
  }

  .o-aspect-ratio__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: setting-color(b, gray);
  }

  .o-grid__item {
    width: 50%;
  }

  .o-container,
  .o-island {
    background: setting-color(b, gray);
  }
}
