.c-hero {
  padding-top: 6em;
  padding-bottom: 6em;
  text-align: center;
  background: $brand-color;
  color: $brand-color-contrast;
}

.c-hero__sub-title {
  font-weight: 400;
  font-size: font-size('xl');
}
