.c-hero {
  padding-top: spacing(xxxl);
  padding-bottom: spacing(xxxl);
  background: $brand-color;
  color: $brand-color-contrast;
  text-align: center;
}

.c-hero__sub-title {
  font-weight: 400;
  font-size: font-size(xl);
}

.c-hero__cta {
  margin-top: spacing(xl);
}

.c-hero__secondary {
  display: inline-block;
  margin-top: spacing(m);
  color: $brand-color-contrast;
}
