.c-hero {
  padding-top: setting-spacing(xxxl);
  padding-bottom: setting-spacing(xxxl);
  background: $brand-color;
  color: $brand-color-contrast;
  text-align: center;
}

.c-hero__sub-title {
  font-weight: 400;
  font-size: setting-font-size(xl);
}

.c-hero__cta {
  display: inline-flex;
  margin-top: setting-spacing(xl);
  padding-left: 0;
  list-style-type: none;

  li {
    &:not(:first-child) {
      margin-left: setting-spacing(xs);
    }
  }
}
