.c-main-nav {
  display: flex;
}

.c-main-nav__link {
  display: block;
  color: currentColor;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.c-main-nav__divide {
  margin-right: spacing(s);
  margin-left: spacing(s);
}
