.c-main-header {
  padding-top: setting-spacing(m);
  padding-bottom: setting-spacing(m);
  background: $brand-color;

  &,
  a {
    color: $brand-color-contrast;
  }
}

.c-main-header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 33em) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.c-main-header__logo {
  margin-bottom: setting-spacing(m);

  &,
  svg {
    display: block;
  }

  @media (min-width: 33em) {
    margin-bottom: 0;
  }
}
