// stylelint-disable max-nesting-depth
.c-package-content {
  h1 {
    font-size: font-size('xxl');
  }

  h2 {
    font-size: font-size('xl');
  }

  #about {
    &,
    & ~ * {
      display: none;
    }
  }
}
