.o-spacing-container {
  > * + * {
    margin-top: setting-spacing(m);
  }
}

.o-spacing-container--xs {
  > * + * {
    margin-top: setting-spacing(xs);
  }
}

.o-spacing-container--m {
  > * + * {
    margin-top: setting-spacing(m);
  }
}

.o-spacing-container--l {
  > * + * {
    margin-top: setting-spacing(l);
  }
}

.o-spacing-container--xxxl {
  > * + * {
    margin-top: setting-spacing(xxxl);
  }
}
