{{#> "layouts/main" metaTitle="Examples | avalanche" metaDescription="Learn how to build common HTML layouts with avalanche." }}
  <div class="o-vertical-spacing-alt o-vertical-spacing-alt--xxxl">
    {{> partials/header }}

    <main class="o-container-alt o-vertical-spacing-alt o-vertical-spacing-alt--xxl">
      <section class="c-intro">
        <h1 class="c-intro__title">Examples</h1>
      </section>
      <section>
        <div class="o-grid">
          <div class="o-grid__item c-preview-grid u-width-12/12 u-width-4/12@m">
            <a class="o-vertical-spacing-alt c-preview-grid__link" href="/examples/simple/">
              <img class="c-preview-grid__image" src="/images/examples/simple-screenshot.png" alt="Simple example screenshot">
              <div class="o-vertical-spacing-alt o-vertical-spacing-alt--xs c-preview-grid__text">
                <h2>Simple</h2>
                <p>A very simple example template using <b>avalanche</b> packages.</p>
              </div>
            </a>
          </div>
          <div class="o-grid__item u-width-12/12 u-width-4/12@m"></div>
          <div class="o-grid__item u-width-12/12 u-width-4/12@m"></div>
        </ul>
      </section>
    </main>

    {{> partials/misc }}

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
