{{#> "layouts/main" metaTitle="Examples | avalanche" metaDescription="Learn how to build common HTML layouts with avalanche." }}
  <div class="o-spacing-container-xxxl">
    {{> partials/header }}

    <main class="o-container-alt o-spacing-container-xxxl">
      <section class="c-intro">
        <h1 class="c-intro__title">Examples</h1>
      </section>
      <section>
        <ul>
          <li><a class="c-anchor" href="/examples/simple/">Simple</a></li>
        </ul>
      </section>
    </main>

    {{> partials/misc }}

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
