{{#> "layouts/main" }}
  <div class="u-spacing-container-xxxl">
    {{> partials/header }}

    <section class="o-container">
      <section class="o-container c-intro u-spacing-container-m">
        <h1 class="c-intro__title">Examples</h1>
      </section>
    </section>

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
