{{#> "layouts/main" }}
  <div class="u-spacing-container-xxxl">
    {{> partials/header }}

    <section class="o-container">
      <section class="o-container c-intro u-spacing-container-m">
        <h1 class="c-intro__title">Packages</h1>
        <p class="c-intro__body"></p>
      </section>
    </section>

    <section class="o-container">
      <div class="o-grid">
        <div class="o-grid__item u-width-12/12 u-width-4/12@m">
          <h2>Utilities</h2>
          <ul>
            <li>Display</li>
            <li>Spacing</li>
            <li>Width</li>
          </ul>
        </div>
        <div class="o-grid__item u-width-12/12 u-width-4/12@m">
          <h2>Components</h2>
          <ul>
            <li>Card</li>
            <li>Navigation</li>
          </ul>
        </div>
        <div class="o-grid__item u-width-12/12 u-width-4/12@m">
          <h2>Objects</h2>
          <ul>
            <li>Container</li>
            <li>Grid</li>
            <li>Island</li>
          </ul>
        </div>
        <div class="o-grid__item u-width-12/12 u-width-4/12@m">
          <h2>Generic</h2>
          <ul>
            <li>Headlines</li>
            <li>Responsive image</li>
          </ul>
        </div>
        <div class="o-grid__item u-width-12/12 u-width-4/12@m">
          <h2>Tools</h2>
        </div>
        <div class="o-grid__item u-width-12/12 u-width-4/12@m">
          <h2>Settings</h2>
          <ul>
            <li>Breakpoints</li>
            <li>Font sizes</li>
            <li>Spacings</li>
          </ul>
        </div>
      </div>
    </section>

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
