{{#> "layouts/main" metaTitle="Packages | avalanche" metaDescription="avalanche packages are well tested building blocks to build unique looking websites." }}
  <div class="o-spacing-container-xxxl">
    {{> partials/header }}

    <main class="o-container o-spacing-container-xxxl">
      <section class="c-intro">
        <h1 class="c-intro__title">Packages</h1>
      </section>
      <section>
        <div class="o-grid o-grid--vertical-gutter-xxl">
          <div class="o-grid__item o-spacing-container-m u-width-12/12 u-width-4/12@m">
            <h2>Utilities</h2>
            <ul>
              <li>Display</li>
              <li>Spacing</li>
              <li><a class="c-anchor" href="/packages/utility-width/">Width</a></li>
            </ul>
          </div>
          <div class="o-grid__item o-spacing-container-m u-width-12/12 u-width-4/12@m">
            <h2>Components</h2>
            <ul>
              <li>Card</li>
              <li>Navigation</li>
            </ul>
          </div>
          <div class="o-grid__item o-spacing-container-m u-width-12/12 u-width-4/12@m">
            <h2>Objects</h2>
            <ul>
              <li><a class="c-anchor" href="/packages/object-container/">Container</a></li>
              <li><a class="c-anchor" href="/packages/object-grid/">Grid</a></li>
              <li>Island</li>
            </ul>
          </div>
          <div class="o-grid__item o-spacing-container-m u-width-12/12 u-width-4/12@m">
            <h2>Generic</h2>
            <ul>
              <li>Headlines</li>
              <li>Responsive image</li>
            </ul>
          </div>
          <div class="o-grid__item o-spacing-container-m u-width-12/12 u-width-4/12@m">
            <h2>Tools</h2>
          </div>
          <div class="o-grid__item o-spacing-container-m u-width-12/12 u-width-4/12@m">
            <h2>Settings</h2>
            <ul>
              <li><a class="c-anchor" href="/packages/setting-breakpoints/">Breakpoints</a></li>
              <li>Font sizes</li>
              <li><a class="c-anchor" href="/packages/setting-spacings/">Spacings</a></li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    {{> partials/misc }}

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
